.App {
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    height: 100vh;
}
.todo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}
.title {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    color: #4e4ee9;
    padding-top: 320px;
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.inputs > input {
    height: 40px;
    margin-top: 10px;
    background-color: #00008b;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}
.inputs > input::placeholder {
    color: #fff;
}
.btn {
    width: 10%;
}
.add__btn {
    height: 95px;
    margin-top: 10px;
    background-color: darkgreen;
    cursor: pointer;
    margin-left: 5px;
    color: #fff;
    border-radius: 6px;
}


.display__task {
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.task {
    background-color: #0000FF;
    padding: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    width: 70%;
}
.days {
    background-color: #d3d3d3;
    color: #fff;
    width: 15%;
    padding: 12px;
}
.display__task > button {
    background-color: #ff0000;
    width: 15%;
    padding: 12px;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .todo{
        width: 90%;
    }
    .display__task{
        width: 100%;
    }
    .task {
        width: 70%;
    }
    .days{
        width: 15%;
    }
    .display__task > button {
        width: 15%;
    }
    .title {
        width: 80%;
        padding-top: 100px;
    }
}